<a href="https://colab.research.google.com/github/SamanthaLapena/58002_OOP/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for loop

In [17]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday

for loop through string

In [23]:
for x in "week":
  print(x)

w
e
e
k

for loop using break statement

In [24]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [29]:
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

range() function

In [30]:
for x in range(6):
  print(x)
for x in range(2, 6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested Loops

In [20]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Python while loops

In [25]:
i = 1
while i < 6:
  print(i)
  i += 1 #i = i+1 Assignment operator

1
2
3
4
5

break statement

In [13]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [19]:
i = 1
while i < 6:
  if i == 3:
    print(i)
  break

continue statement

In [14]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
    print(i)

else statement

In [22]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [42]:
hello = ["Hello 1", "Hello 2", "Hello 3", "Hello 4", "Hello 5", "Hello 6", "Hello 7", "Hello 8", "Hello 9", "Hello 10"]
for x in hello:
  print(x)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [45]:
for x in range(3, 10):
  print(x)
else:
  print("x is less than 10 but not less than 3")

3
4
5
6
7
8
9
x is less than 10 but not less than 3